{% extends "base.html" %} {% load static %}
<!--//////////////////////////////////////////-->
{% block title %}My Blog{% endblock%}
<!--/////////////////////////////////////////-->
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}" />
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
{% endblock %} {% block content %}

<section id="welcome">
  <header>
    <img src="{% static "blog/images/William.jpg" %}" alt="William, the author
    of this blog" />
    <!--/////////////////////////////////////////-->
    <h2>William's Blog</h2>
  </header>
  <p>Hi, I'm William and I love to practice different programming languages</p>
</section>

<section id="latest-posts">
  <h2>My latest toughts</h2>
  <ul>
    {% for post in posts %} {% include "blog/includes/post.html" %} {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I do</h2>
  <p>I enjoy exploring new tech</p>
  <p>My goal is to keep on growing as a developer</p>
</section>
{% endblock %}
